@model OAHub.Workflow.Models.ViewModels.Projects.DetailsModel
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_OrganizationLayout.cshtml";
}

<div class="row">
    <div class="col-md-8">
        <div class="card p-2">
            <div class="card-header">
                <h3 class="card-title">Jobs</h3>
            </div>
            <div class="card-body p-0">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Steps count</th>
                            <th>Manager</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var job in Model.Jobs)
                        {
                            <tr>
                                <td><a asp-controller="Jobs" asp-action="Details" asp-route-orgId="@Context.Request.Query["orgId"]" asp-route-projectId="@Model.Project.Id" asp-route-jobId="@job.Id">@job.Name</a></td>
                                <td>@job.StepsCount</td>
                                <td>@job.Manager.UserName</td>
                                <td>@job.Status</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card card-info card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle" src="~/lib/admin-lte/dist/img/default-150x150.png" alt="@Model.Project.Name">
                </div>

                <h3 class="profile-username text-center">@Model.Project.Name</h3>

                <p class="text-muted text-center">Manager: @Model.Project.Manager.UserName</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>Description</b> <a class="float-right">@Model.Project.Description</a>
                    </li>
                    <li class="list-group-item">
                        <b>Jobs created</b> <a class="float-right">@Model.Jobs.Count</a>
                    </li>
                    <li class="list-group-item">
                        <b>Status</b> <a class="float-right">@Model.Project.Status</a>
                    </li>
                    <li class="list-group-item">
                        <b>Create time</b> <a class="float-right">@Model.Project.CreateTime</a>
                    </li>
                </ul>

                <a asp-controller="Jobs" asp-action="CreateJob" asp-route-orgId="@Context.Request.Query["orgId"]" asp-route-projectId="@Model.Project.Id" class="btn btn-primary btn-block">Create Job</a>
            </div>
        </div>
    </div>
</div>
