@model OAHub.Organization.Models.ViewModels.Orgainzations.MemberModel
@{
    ViewData["Title"] = "Member";
}

<form method="post" asp-action="Member" asp-route-id="@Context.Request.Path.Value.Split('/')[1]" asp-route-memberId="@Model.Member.UserId">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Full name</dt>
                        <dd class="col-sm-8">@Model.User.FullName</dd>
                        <dt class="col-sm-4">Position</dt>
                        <dd class="col-sm-8"><input class="form-control" asp-for="Member.Position" required /></dd>
                        <dt class="col-sm-4">Email address</dt>
                        <dd class="col-sm-8">@Model.User.Email</dd>
                        <dt class="col-sm-4">Phone number</dt>
                        <dd class="col-sm-8">@Model.User.PhoneNumber</dd>
                        <dt class="col-sm-4">Actions</dt>
                        <dd class="col-sm-8">
                            <button class="btn btn-primary btn-block btn-sm">Update</button>
                            <button class="btn btn-danger btn-block btn-sm">Remove</button>
                        </dd>
                    </dl>
                    <input style="display: none" asp-for="User.Id" />
                    <input style="display: none" asp-for="Member.UserId" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</form>
