<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OAHub.Status</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/lib/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar is-link" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    OAHub.Status
                </a>
            </div>

            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" asp-controller="Home" asp-action="Index">Home</a>
                    <a class="navbar-item" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>

                <div class="navbar-end">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a asp-controller="Manage" asp-action="Index" class="navbar-item">
                            Hello, @User.FindFirst("UserName").Value
                        </a>
                        <a asp-controller="Auth" asp-action="SignOut" class="navbar-item">
                            Sign Out
                        </a>
                    }
                    else
                    {
                        <a asp-controller="Auth" asp-action="PassportAuthorize" class="navbar-item">Sign In</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    @if (ViewData["UseContainer"] == null)
    {
        <main class="container" style="margin-top: 32px">
            <div class="content">
                @RenderBody()
            </div>
        </main>
    }
    else
    {
        <main class="content">
            @RenderBody()
        </main>
    }

    <footer class="footer" style="height: 20px">
        <div class="content text-left">
            <p>
                &copy; 2020 - OAHub.Status - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </p>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
